h1{
  text-align: center;
  font-weight: bold;
  font-family: helvetica;
  width: auto;
  margin: 10px,20px;

}




div{
  width: 30%;
  display: inline-block;
  background-color: gray;
  border-color: black;
  border-style: solid;
  margin: 10px;
 text-align: center;
}

section{
  background-color: yellow;
  color: black;
  width: 36%;
  float: right;
  text-align: center;
  font-weight: bold;
  font-family: helvetica;
  padding: 3px;
  height: 22px;
  border-color: black;
  border-style: solid;
  border-top: none ;
  border-right: none ;
  width: 36%;
  
  

}
p{
  margin-top: 30px;
  margin-left:10px ;
  margin-right: 10px;
  margin-bottom: 5px;
}
a{
  text-decoration: none;
}


  
  
  
 

  


.box1{
  background-color: rgb(206, 130, 130);
  color: black;
}
.box2{
  background-color: rgb(155, 35, 35);
  color: rgb(250, 245, 245);
}
.box3{
  background-color: rgb(204, 191, 77);
  color: rgb(0, 0, 0);
}


@media (max-width: 930px){
  .bx3{
    width: 94%;
    height: 140px;

  }
  .bx1,.bx2{
    width: 45%;
   
  }
  div{
    text-align: center;
  }
  p{
    width: auto;
  }
}
@media (min-width: 100px) and (max-width: 610px){
  .bx1,.bx2,.bx3{
    width: auto;
    height: auto;
  
}
section{
  width: 27%;
}

}

